@model MvcStok.Models.Entity.TBLMUSTERILER  
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">

    <div>
        <label>Musteri Adi</label>
        @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control " })
        @Html.ValidationMessageFor(m => m.MUSTERIAD, "", new { @style = "color:green" })
    </div>

    <div>
        <label>Musteri Soyad</label>
        <input type="text" class="form-control" name="MUSTERISOYAD" />
    </div>

    <div style="margin-top:15px">
       
        <button class="btn btn-info" id="btn1">Musteri Ekle</button>
    </div>
    <script>
        $('#btn1').click(function () {
            alert('Musteri Ekleme islemi yapildi....')
        })
    </script>

</form>

<a href="/MUSTERI/YeniMusteri/" class="btn btn-primary">Yeni Musteri Ekle</a>

